/* CSS MENUS  VERSION DESKTOP / TABLETTE */


@media screen and (min-width: 768px) 

/* ----------------------------------------------------EN-TETE---------------------------------------------------- */


{
    




/* ----------------------------------------------------CORPS---------------------------------------------------- */

.bloc_menu
{
    height: 1190px;
}

.plats
{
    width: auto;
    margin: 40px;}

.prix
{
    margin-right: -30px;
}


.box
{
    margin: 38px;
}

/* ----------------------------------------------------FOOTER---------------------------------------------------- */


footer
{
    margin-top: 1570px;
}
}