/* CSS MENUS VERSION DESKTOP */

@media screen and (min-width: 992px)

{
/* ----------------------------------------------------EN-TETE---------------------------------------------------- */



/* ----------------------------------------------------CORPS---------------------------------------------------- */


.repas
{
    margin: 50px;
}

.prix
{
    margin-right: -30px;
}

.box
{
    margin: 14px;
}

.button_commander
{
    margin-top: 0;
}


/* ----------------------------------------------------FOOTER---------------------------------------------------- */


footer
{
    margin-top: 1420px;
}

}