/* CSS MENUS  VERSION DESKTOP / TABLETTE */


@media screen and (min-width: 768px) and (max-width: 991px)

/* ----------------------------------------------------EN-TETE---------------------------------------------------- */


{
    

header
{
    margin-right: 280px;
}


/* ----------------------------------------------------CORPS---------------------------------------------------- */


.plats
{
    width: auto;
    margin: 40px;}

.prix
{
    margin-right: -30px;
}

.button_commander
{
    margin-left: 330px;
}

.box
{
    margin: 38px;
}

/* ----------------------------------------------------FOOTER---------------------------------------------------- */


footer
{
    margin-top: 1570px;
}
}