/* CSS MENUS GENERAL */


/* MOBILE */

@media screen and (max-width: 1400px) 
{
    @font-face
    {
        font-family: 'Roboto';
        src: url("../fonts/Roboto-regular.ttf");
    }
    
    @font-face
    {
        font-family: 'Roboto';
        font-weight: bold;
        src: url("../fonts/Roboto-bold.ttf");
    }
    
    @font-face
    {
        font-family: 'Shrikhand';
        src: url("../fonts/Shrikhand-Regular.ttf");
    }

body
{
    margin: 0;
    width: 100%;
    font-family: 'roboto';
}


/* ----------------------------------------------------EN-TETE---------------------------------------------------- */

header
{
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
    justify-content: space-between;
    margin-right: 80px;
}

h1 /* nom restaurant */
{
    font-family: 'Shrikhand';
    font-weight: bold;
    margin-left: 15px;
    margin-top: 30px;
}

.titre
{
    display: flex;
    justify-content: space-between;
    margin-bottom: -50px;
}

.logo
{
    height: 30px;
}

.icone_fleche
{
    margin-top: 5px;
}

.img_menu_accueil
{
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: 1;
    object-fit: cover;
}

.button_coeur
{
    display: grid;
    padding: 20px;
    
}

.button_coeur i
{
    color: rgb(255, 93, 93);
}



.button_coeur:hover
{
    height: 100%; 
}

.button_coeur .coeur_vide
{
    opacity: 1;
    color: #424242;
    grid-column: 1;
    grid-row: 1;
}

.button_coeur .coeur_plein
{
    opacity: 0;
    color: rgb(255, 93, 93);
    grid-column: 1;
    grid-row: 1;
}

.button_coeur .coeur_plein:hover
{
    transition: opacity 0.3s linear 0s;
    opacity: 1;

}




/* ----------------------------------------------------CORPS---------------------------------------------------- */


h2
{
    margin-left: 15px;
    margin-top: 30px;
    border-bottom: 4px solid #99E2D0;
    width: 65px;
    line-height: 40px;
    font-weight: 1;

}

h3 /* nom plat */
{
    font-weight: 700;
    margin-bottom: 22px;
}

.bloc_menu
{
    position: absolute;
    border-radius: 20px 20px 0px 0px;
    background-color: #f3f3f3;
    z-index: 2;
    margin-top: 230px;
    width: 100%;
}

.repas
{
    margin-right: 5px;
    animation: whitepage 3s;
}

@keyframes whitepage 
{
    0%{
        opacity: 0;
        margin-left: 100px;
    }

    100%{
        opacity: 1;
        margin-left: 20px;
    }
}

.entrees h2
{
    font-weight: lighter;
}

.plats
{
    display: flex;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 0px #c4c4c4;

}

@keyframes slidein{
    0%{
       
        transform:slidein(-360deg)
    }
    5%{ 
        transform:slidein(-360deg)
    }
    100%{
        transform:slidein(0deg);
    }
}

@keyframes SLIDEIN
{
    from {
        margin-left: 100%;
        width: 300%;
    }   
    to {
        margin-left: 0%;
        width: 100%;
    }
}


.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    height: 65px;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px #bfbfbf;
    overflow: hidden;
}

.box:hover .box__check 
{
    width: 100px;
}

.box:hover i 
{
    animation: rotate-coche2 1s forwards;
}

.box > i 
{
    color: #fff;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 45px;
}

.box__check 
{
    height: 65px;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #99E2D0;
    transition: width 1s;
}

.box__check i 
{
    color: #fff;
    font-size: 1.3rem;
    overflow: hidden;
}

.box__description 
{
    width: 100%;
    padding: 10px 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    margin-bottom: 10px;
}

.box__description h3 
{
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    margin: 20px 0 0 0;
}

.box__description div 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.box__description div p:nth-child(1) 
{
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
}

.box__description div p:nth-child(2) 
{
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    left: 10px;
    margin: 10px 0;
}

/* BOUTON COMMANDER */
.button_commander
{
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color: white;
    padding: 15px;
    box-shadow: 0px 0px 15px 0px #6a6a6a;
    border-radius: 200px;
    border: none;
    margin-left: 130px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.button_commander:hover
{
    transform: scale(1.10);
}





/* ----------------------------------------------------FOOTER---------------------------------------------------- */
footer 
{
    position: absolute;
    background-color: #424242;
    color: white;
    width: 100%;
    padding: 20px 0 20px 0;
    /* z-index: 3; */
    margin-top: 1310px;
}

footer img 
{
    width: 144px;
    margin-left: 10px;
    margin-bottom: -40px;
    margin-top: -25px;
}

footer ul 
{
    list-style-type: none;
    padding-left: 0px;
    margin-left: 15px;
}

footer ul li
{
    line-height: 30px;
    margin-left: 15px;
}

footer ul a {
    text-decoration: none;
    color: black;
    color: white;
}

footer ul a.icone_footer1
 {
    margin-left: 15px;
}

footer ul a.icone_footer2
 {
    margin-left: 9px;
}

}